<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <div id="logo">
      <img src="{{ baseUrl }}/images/logo.png"/>
    </div>
    {% block content %}
      {{ content|raw }}
    {% endblock %}
  </body>
</html>
